<!-- Use Selector of Home Component -->
<app-home></app-home> 

<h2>Add/Edit Details</h2>

<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()"> <!--Third adding form group, Fourth adding event to submit form-->

    <h2 *ngIf="reservationForm.invalid">Enter valid form details</h2>
    <h2 *ngIf="reservationForm.valid">Details are valid</h2>

    <div>
        <label>Check-In</label>
        <input type="date" formControlName="checkInDate" /> <!--Sixth - Adding fromControlName-->
        <div *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">Check in
            date is required</div>
    </div>

    <div>
        <label>Check-Out</label>
        <input type="date" formControlName="checkOutDate" />
        <div *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
            Check-Out Date is required</div>
    </div>

    <div>
        <label>Guest Name</label>
        <input type="text" formControlName="guestName" />
        <div *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">Guest Name
            is required</div>
    </div>

    <div>
        <label>Guest Email</label>
        <input type="email" formControlName="guestEmail" />
        <div *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">Guest
            email is required</div>
    </div>

    <div>
        <label>Room Number</label>
        <input type="number" formControlName="roomNumber" />
        <div *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">Room
            Number is required</div>
    </div>
    <button type="submit" [disabled]="reservationForm.invalid">Submit</button>
</form>